/*@font-face{
  font-family: 'Ms Madi', cursive;
  src: url(fonts/MsMadi-Regular.ttf)
}
*/

/*@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap*/


body{
  background-image:url("../images/HongKongNight.jpg"); /* Use ../ to go to the upper directory and then go into the image folder*/
  background-repeat:no-repeat;
  background-size: cover;
  font-family: 'Ms Madi', cursive;
  text-align: center;
}

nav{
  background-color: dimgray;
  padding: 10px;
}

a{
  color: white;
  margin: 40px;/* to control the space between word*/
}

h1{color:white}

h2{color:white}

p{color:white}

footer {
  background-color: steelblue;
  color: white;
}
